  <nav class="pcoded-navbar">
        <div class="navbar-wrapper">
            <div class="navbar-brand header-logo">
                <a target="_blank" href="#" class="b-brand">
                    <div class="b-bg">
                        <i class="feather icon-trending-up"></i>
                    </div>
                    <span class="b-title">Sous admin | ESTC</span>
                </a>
                <a class="mobile-menu" id="mobile-collapse" href="javascript:"><span></span></a>
            </div>
            <div class="navbar-content scroll-div">
                <ul class="nav pcoded-inner-navbar">
                    <li class="nav-item pcoded-menu-caption">
                        <label>Navigation</label>
                    </li>
                    <li data-username="dashboard Default Ecommerce CRM Analytics Crypto Project" class="nav-item active">
                        <a href="{% url 'indes' %}" class="nav-link "><span class="pcoded-micon"><i class="feather icon-home"></i></span><span class="pcoded-mtext">Dashboard</span></a>
                    </li>
                    <li class="nav-item pcoded-menu-caption">
                        <label>UI Element</label>
                    </li>
                    <li data-username="Authentication Sign up Sign in reset password Change password Personal information profile settings map form subscribe" class="nav-item pcoded-hasmenu">
                        <a href="javascript:" class="nav-link "><span class="pcoded-micon"><i class="fa fa-puzzle-piece" aria-hidden="true"></i></span><span class="pcoded-mtext">les activités</span></a>
                        <ul class="pcoded-submenu">
                            <li class=""><a href="{% url 'adactivite' %}" class="">Ajouter une activité</a></li>
                            <li class=""><a href="{% url 'ssadminsactivites' %}" class="">Gérer les activités</a></li>
                        </ul>
                    </li>

                    <li data-username="Authentication Sign up Sign in reset password Change password Personal information profile settings map form subscribe" class="nav-item pcoded-hasmenu">
                        <a href="javascript:" class="nav-link "><span class="pcoded-micon"><i class="feather icon-lock"></i></span><span class="pcoded-mtext">Inscriptions</span></a>
                        <ul class="pcoded-submenu">
                            <li class=""><a href="{% url 'table_inscrip_activi' %}" class="">Gérer les inscriptions aux activites</a></li>
                        </ul>
                    </li>

                    <li data-username="Authentication Sign up Sign in reset password Change password Personal information profile settings map form subscribe" class="nav-item pcoded-hasmenu">
                        <a href="javascript:" class="nav-link "><span class="pcoded-micon"><i class="feather icon-lock"></i></span><span class="pcoded-mtext">Mot du passe</span></a>
                        <ul class="pcoded-submenu">
                            <li class=""><a href="{% url 'change_pwd' %}" class="">Changer le mot de passe</a></li>
                        </ul>
                    </li>
                    <li data-username="Disabled Menu" class="nav-item">
                        <a href="{% url 'deconnexion' %}" class="nav-link">
                            <span class="pcoded-micon">
                                <i class="feather icon-power"></i>
                            </span>
                            <span class="pcoded-mtext">Déconnexion</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
