{% extends 'blog/base.html' %}
{% block content %}
{% load crispy_forms_tags %}

<div class="border p-4 mb-5">
    <legend class="border-bottom pb-1 mb-3">Nouveau sujet de discussion
    </legend>
    <form method="POST">
        {% csrf_token %}

        {{form|crispy}}
           <div class="card-footer">

                                <i class='fas fa-file-image' style='font-size:20px'></i>
								&nbsp <i class='far fa-file-alt' style='font-size:20px'></i>
              &nbsp <i class='fas fa-file-video' style='font-size:20px'></i>


						</div>
        <input class="btn btn-secondary mt-4" type="submit" value="Publier">
    </form>
</div>

{% endblock content %}



