{% extends 'blog/base.html' %}
{% block content %}
{% load crispy_forms_tags %}

<div class="border p-4 mb-5">
    <legend class="border-bottom pb-1 mb-3">Supprimer la publication</legend>
    <form method="POST">
        <legend class="pb-1 mb-3 mt-4">Vous voulez supprimer  "{{object.title}}" ?</legend>
        {% csrf_token %}
        <input class="btn btn-danger mt-3" type="submit" value="supprimer">
        <a class="btn btn-secondary mt-3 back-btn" href="{% url 'detail' object.id %}">Annuler</a>
    </form>
</div>
{% endblock content %}