{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
{% load static %}
<style>
    .user_card {
        width:450px;
        height: 527px;
        margin-top: auto;
        margin-bottom:auto;
        background-image: url({% static 'blog/images/pp.jpg' %});
        position: relative;
        display: flex;
        justify-content: center;
        flex-direction:column;
        padding: 10px;
       box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
       .webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
       .moz-box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
       border-radius: 5px;
       }
         .from_container{
       margin-top: 50px;
       }
       #form-title{
       color: black;}
       .login_btn{
       width:100%;
       background:#33ccff !important;
       color: white !important;
       }
       .login_btn:focus{
       box-shadow:none !important;
       outline: 0px !important;
       }
       .login_container{
       padding: 0 2rem;
       }
       .input-group-text{
       background:#f7ba5b !important;
       color: white !important;
       border: 0 !important;
       border-radius: 0.25rem 0 0 0.25rem !important;
       }
       .input_user,
       .input_pass: focus{
       box-shadow: none !important;
       outline: 0px !important;
       }
</style>
<body>
<br><br><br>
    <div class="container h-100">
    <div class="d-flex justify-content-center h-100">
        <div class="user_card">
            <div class="d-flex justify-content-center">
                     <h3 id="form-title">Ajouter un sous admin</h3>
            </div>
            <div class="d-flex justify-content-center form_container">

<div class="border p-3 mb-5">

 <form method="POST">
        {% csrf_token %}
          <div class="input-group justify-content-center  mb-4">
                        <div class="input-group-append">
                            <span class="input-group-text">
                                <i class="fas fa-user"></i></span>
                        </div>
                           {{form.username}}
                    </div>
      <div class="input-group justify-content-center  mb-2">
                        <div class="input-group-append">
                               <span class="input-group-text">
                                <i class="fas fa-envelope-square"></i></span>
                        </div>
                        {{form.email}}
                        </div>
          <div class="input-group justify-content-center mb-4">
                        <div class="input-group-append">
                            <span class="input-group-text">
                                <i class="fas fa-user"></i></span>
                        </div>
              {{form.first_name}}
                    </div>


          <div class="input-group justify-content-center  mb-4">
                        <div class="input-group-append">
                            <span class="input-group-text">
                                <i class="fas fa-user"></i></span>
                        </div>
              {{form.last_name}}
                    </div>

 <div class="input-group justify-content-center mb-3">
                    <div class="input-group-append">
                        <span class="input-group-text">
                                <i class="fas fa-key"> </i></span>
                    </div>
                       {{form.password1}}
                        </div>

 <div class="input-group  justify-content-center mb-3 ">
                    <div class="input-group-append">
                               <span class="input-group-text">
                                <i class="fas fa-key"> </i></span>
                    </div>
                       {{form.password2}}
                        </div>
       <div class="d-flex justify-content-center mt-3 login_container">
                        <input class="btn login_btn" type="submit"
                               value="Ajouter">
            <script>
//Query all input fields
var form_fields = document.getElementsByTagName('input')
    form_fields[1].placeholder='username..';
    form_fields[2].placeholder='Email...';
    form_fields[3].placeholder='Nom..';
    form_fields[4].placeholder=' Prénom...';
     form_fields[5].placeholder='mot de passe...';
    form_fields[6].placeholder='confirmation du mot de passe...';
for(var field in form_fields){
form_fields[field].className += 'form-control' }

</script>
                    </div>
    </form>

</body>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}






